[user]
	name = shun-tak
	email = shun.tak221@gmail.com
[color]
	ui = true
[alias]
	st = status -sb
	ci = commit
	ciam = commit --amend
	co = checkout
	br = branch
	l = log
	ls = log --stat
	lp = log -p
	lo = log --pretty=format:'%ad %C(yellow)%h %Creset%an: %s' --date=short
	lg = log --graph --pretty=format:'%cd %C(yellow)%h %Creset%an: %s' --date=short
	df = diff HEAD
	dm = diff master
	cancel = reset --soft HEAD^
	sm = submodule
	smfe = submodule foreach
[core]
	editor = emacs
	excludesfile = ~/.gitignore
[push]
	default = upstream
