[user]
	name = shun-tak
	email = shun.tak221@gmail.com
[color]
	ui = true
[alias]
	st = status -sb
	cm = commit -m
	ciam = commit --amend
	co = checkout
	br = branch
	l = log
	df = diff HEAD
	sm = submodule
	smfe = submodule foreach
	fp = fetch --prune
	spl = !git stash && git pull && git stash pop
[core]
	editor = emacs
	excludesfile = ~/.gitignore
[push]
	default = simple
[merge]
	ff = false
[pull]
	rebase = true
